openapi: 3.1.0
info:
  title: iFragment API
  description: Telegram username analytics, premium reports, bot management, profile and marketplace APIs.
  version: 1.1.0
servers:
  - url: https://api.ifragment.com/api/v1
    description: Production server
  - url: http://localhost:8080/api/v1
    description: Local development server
tags:
  - name: Health
  - name: Auth
  - name: Usernames
  - name: Premium Reports
  - name: Bots
  - name: Groups
  - name: Channels
  - name: Profile
paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
  /auth/token:
    post:
      tags: [Auth]
      summary: Issue JWT from Telegram init data
      security:
        - TelegramInitData: []
      responses:
        "200":
          description: JWT response
        "401":
          description: Invalid Telegram init data
  /usernames/collection/stats:
    get:
      tags: [Usernames]
      summary: Get Telegram username collection statistics
      responses:
        "200":
          description: Collection summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionSummary"
  /usernames/check:
    get:
      tags: [Usernames]
      summary: Check username availability
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: Availability result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsernameStatus"
        "400":
          description: Invalid username format
        "429":
          description: Rate limit exceeded
  /usernames/quick:
    get:
      tags: [Usernames]
      summary: Get free quick username analysis
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: Quick analysis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuickCheck"
  /usernames/quick/stream:
    get:
      tags: [Usernames]
      summary: Stream quick username analysis with Server-Sent Events
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: SSE stream of QuickCheck payloads
          content:
            text/event-stream:
              schema:
                type: string
  /usernames/trending:
    get:
      tags: [Usernames]
      summary: Get trending usernames
      responses:
        "200":
          description: Username list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /usernames/rates:
    get:
      tags: [Usernames]
      summary: Get TON/USD rate
      responses:
        "200":
          description: Current TON rate
          content:
            application/json:
              schema:
                type: object
                properties:
                  ton_to_usd:
                    type: number
  /usernames/similar:
    get:
      tags: [Usernames]
      summary: Get similar username candidates
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 10
      responses:
        "200":
          description: Similar usernames ranked by string and market-category similarity
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimilarUsername"
  /usernames/calibration:
    get:
      tags: [Usernames]
      summary: Get AVM v7.0 empirical calibration and backtest accuracy metrics
      responses:
        "200":
          description: AVM Calibration Summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelCalibrationSummary"
  /usernames/valuate:
    get:
      tags: [Usernames]
      summary: Execute AVM v7.0 algorithmic valuation for a Telegram username
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: Algorithmic Valuation Result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValuationResultV7"
        "400":
          description: Invalid username format
        "429":
          description: Rate limit exceeded
        "500":
          description: Valuation pipeline failed
  /usernames/report/request:

    post:
      tags: [Premium Reports]
      summary: Create Telegram Stars invoice for a premium username report
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportRequest"
      responses:
        "200":
          description: Invoice link
        "402":
          description: Payment required
  /usernames/report/view:
    get:
      tags: [Premium Reports]
      summary: View or generate a paid premium username report
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: Premium report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FullReport"
        "402":
          description: Payment required
  /usernames/report/history:
    get:
      tags: [Premium Reports]
      summary: List current user's generated reports
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Report history
  /bots:
    get:
      tags: [Bots]
      summary: List registered bots
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Bot list
    post:
      tags: [Bots]
      summary: Register a bot
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Registered bot
  /bots/{botID}:
    get:
      tags: [Bots]
      summary: Get bot details
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/BotID"
      responses:
        "200":
          description: Bot details
    delete:
      tags: [Bots]
      summary: Revoke a bot
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/BotID"
      responses:
        "204":
          description: Bot revoked
  /bots/{botID}/groups:
    get:
      tags: [Bots]
      summary: List groups connected to a bot
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/BotID"
      responses:
        "200":
          description: Group list
  /groups/{groupID}:
    get:
      tags: [Groups]
      summary: Get group details
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          description: Group details
  /groups/{groupID}/settings:
    get:
      tags: [Groups]
      summary: Get group settings
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          description: Settings
    put:
      tags: [Groups]
      summary: Update group settings
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          description: Updated settings
  /groups/{groupID}/analytics:
    get:
      tags: [Groups]
      summary: Get group analytics
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          description: Analytics
  /groups/{groupID}/audit:
    get:
      tags: [Groups]
      summary: Get group audit log
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          description: Audit log
  /profile/stats:
    get:
      tags: [Profile]
      summary: Get profile stats
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Profile stats
  /profile/achievements:
    get:
      tags: [Profile]
      summary: Get user achievements
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Achievement list
  /profile/achievements/defs:
    get:
      tags: [Profile]
      summary: Get achievement definitions
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Achievement definitions
  /profile/referral:
    get:
      tags: [Profile]
      summary: Get referral data
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Referral data
  /profile/ledger:
    get:
      tags: [Profile]
      summary: Get unified financial ledger transactions
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: [all, coins, credits, stars, subscription]
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Ledger response
  /profile/assets:
    get:
      tags: [Profile]
      summary: Get user assets (Reports, Properties, Projects, Boosters)
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Assets response
  /profile/emoji-status/claim-reward:
    post:
      tags: [Profile]
      summary: Claim one-time verified reward for setting emoji status
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Claim result
  /marketplace/options:
    get:
      tags: [Marketplace]
      summary: Get purchase options
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Purchase options
  /marketplace/purchase/stars:
    post:
      tags: [Marketplace]
      summary: Purchase with Telegram Stars
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Purchase result
  /marketplace/purchase/toncoin:
    post:
      tags: [Marketplace]
      summary: Purchase with Toncoin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Purchase result
  /healthz/live:
    get:
      tags: [Health]
      summary: Liveness health check
      responses:
        "200":
          description: Service is alive
  /healthz/ready:
    get:
      tags: [Health]
      summary: Readiness health check
      responses:
        "200":
          description: Service is ready
        "503":
          description: Service is not ready
  /profile/gdpr:
    delete:
      tags: [Profile]
      summary: GDPR Data Deletion Request
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Data successfully wiped
  /channels:
    get:
      tags: [Channels]
      summary: List managed channels with cursor pagination
      security:
        - BearerAuth: []
      parameters:
        - name: bot_id
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Paginated channels list
    post:
      tags: [Channels]
      summary: Connect a new channel
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bot_id, username]
              properties:
                bot_id:
                  type: string
                username:
                  type: string
      responses:
        "200":
          description: Connected channel details
  /channels/{channelID}:
    get:
      tags: [Channels]
      summary: Get channel details
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      responses:
        "200":
          description: Channel details
    delete:
      tags: [Channels]
      summary: Disconnect a channel
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      responses:
        "200":
          description: Channel disconnected
  /channels/{channelID}/settings:
    get:
      tags: [Channels]
      summary: Get channel settings
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      responses:
        "200":
          description: Channel settings details
    put:
      tags: [Channels]
      summary: Update channel settings
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [category, data, version]
              properties:
                category:
                  type: string
                data:
                  type: object
                version:
                  type: integer
      responses:
        "200":
          description: Updated channel settings
  /channels/{channelID}/audit:
    get:
      tags: [Channels]
      summary: Get channel audit logs
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Paginated audit logs
  /channels/{channelID}/analytics:
    get:
      tags: [Channels]
      summary: Get channel daily analytics snapshots
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 7
      responses:
        "200":
          description: Channel analytics timeline
  /channels/{channelID}/posts:
    post:
      tags: [Channels]
      summary: Schedule or post a new message to channel
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                scheduled_at:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Created/Scheduled post details
  /channels/{channelID}/forwarding/rules:
    get:
      tags: [Channels]
      summary: Get channel forwarding rules
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      responses:
        "200":
          description: List of forwarding rules
    post:
      tags: [Channels]
      summary: Create a forwarding rule
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardingRuleInput"
      responses:
        "200":
          description: Created forwarding rule
  /channels/{channelID}/forwarding/rules/{ruleID}:
    put:
      tags: [Channels]
      summary: Update a forwarding rule
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
        - name: ruleID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardingRuleInput"
      responses:
        "200":
          description: Updated forwarding rule
    delete:
      tags: [Channels]
      summary: Delete a forwarding rule
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
        - name: ruleID
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Rule deleted
  /channels/{channelID}/admins/sync:
    post:
      tags: [Channels]
      summary: Sync channel administrators from Telegram
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      responses:
        "200":
          description: Success confirmation
  /channels/{channelID}/admins:
    get:
      tags: [Channels]
      summary: Get channel administrators
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      responses:
        "200":
          description: List of channel admins
  /channels/{channelID}/buttons:
    get:
      tags: [Channels]
      summary: Get channel custom inline buttons
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      responses:
        "200":
          description: List of inline buttons
    post:
      tags: [Channels]
      summary: Save channel custom inline buttons
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ChannelID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/InlineButtonInput"
      responses:
        "200":
          description: Success confirmation
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    TelegramInitData:
      type: apiKey
      in: header
      name: X-Telegram-Init-Data
  parameters:
    UsernameQuery:
      name: u
      in: query
      required: true
      schema:
        type: string
        minLength: 4
        maxLength: 32
        pattern: "^[A-Za-z][A-Za-z0-9_]{3,31}$"
      description: Telegram username without @
    BotID:
      name: botID
      in: path
      required: true
      schema:
        type: string
    GroupID:
      name: groupID
      in: path
      required: true
      schema:
        type: string
    ChannelID:
      name: channelID
      in: path
      required: true
      schema:
        type: string
  schemas:
    UsernameStatus:
      type: object
      properties:
        username:
          type: string
        status:
          type: string
          enum: [available, taken, purchase_available, on_auction, on_sale, invalid]
    QuickCheck:
      type: object
      properties:
        username:
          type: string
        status:
          type: string
        length:
          type: integer
        rarity_score:
          type: integer
        sale_status:
          type: string
        buy_now_price:
          type: number
        highest_bid:
          type: number
        fragment_url:
          type: string
        search_popularity:
          type: integer
        linguistic_score:
          type: number
    ReportRequest:
      type: object
      required: [username]
      properties:
        username:
          type: string
    PriceEstimate:
      type: object
      properties:
        p10_ton:
          type: number
        p50_ton:
          type: number
        p90_ton:
          type: number
        confidence:
          type: number
          minimum: 0
          maximum: 1
        method:
          type: string
        signals:
          type: array
          items:
            type: string
    SimilarUsername:
      type: object
      properties:
        username:
          type: string
        score:
          type: number
          minimum: 0
          maximum: 1
        reason:
          type: string
        rarity_score:
          type: integer
        fragment_url:
          type: string
    FullReport:
      allOf:
        - $ref: "#/components/schemas/QuickCheck"
        - type: object
          properties:
            contains_numbers:
              type: boolean
            is_dictionary_word:
              type: boolean
            peer_type:
              type: string
            is_verified:
              type: boolean
            is_premium:
              type: boolean
            is_scam:
              type: boolean
            is_fake:
              type: boolean
            participants_count:
              type: integer
            owner_address:
              type: string
            past_sales:
              type: array
              items:
                type: object
            owner_wallet_balance:
              type: number
            owner_other_assets:
              type: integer
            estimated_value:
              type: number
            value_estimate:
              $ref: "#/components/schemas/PriceEstimate"
            exchange_rate:
              type: number
            generated_at:
              type: string
              format: date-time
    CollectionSummary:
      type: object
      properties:
        total_supply:
          type: integer
        holders:
          type: integer
        floor_price:
          type: string
        total_volume:
          type: string
        active_auctions:
          type: integer
        revenue:
          type: string
        daily_volume:
          type: number
        sales_count:
          type: integer
        highest_sale:
          type: number
        listed_ratio:
          type: number
        top_holders:
          type: array
          items:
            type: object
        top_sales:
          type: array
          items:
            type: object
    ForwardingRuleInput:
      type: object
      required: [source_channel_id, target_channel_id, active]
      properties:
        source_channel_id:
          type: string
        target_channel_id:
          type: string
        active:
          type: boolean
        filter_keywords:
          type: array
          items:
            type: string
    InlineButtonInput:
      type: object
      required: [text, url, row]
      properties:
        text:
          type: string
        url:
          type: string
        row:
          type: integer
    ModelCalibrationSummary:
      type: object
      properties:
        model_version:
          type: string
        sample_size:
          type: integer
        median_error_pct:
          type: number
        within_band_pct:
          type: number
        uncertainty_mult:
          type: number
        calibration_note:
          type: string
        evaluated_at:
          type: string
          format: date-time
    RentYieldDto:
      type: object
      properties:
        monthly_median_ton:
          type: number
        cap_months:
          type: number
        rent_floor_ton:
          type: number
        source:
          type: string
    HomoglyphTwinDto:
      type: object
      properties:
        twin:
          type: string
        status:
          type: string
        price_ton:
          type: number
        risk_level:
          type: string
        similarity:
          type: string
    ValuationResultV7:
      type: object
      properties:
        run_id:
          type: integer
        username:
          type: string
        model_version:
          type: string
        base_price_ton:
          type: string
        low_ton:
          type: string
        expected_ton:
          type: string
        high_ton:
          type: string
        low_usd:
          type: string
        expected_usd:
          type: string
        high_usd:
          type: string
        confidence_score:
          type: integer
        ton_usd_rate:
          type: number
        comparable_sales_count:
          type: integer
        homoglyph_twins:
          type: array
          items:
            $ref: "#/components/schemas/HomoglyphTwinDto"
        rent_yield:
          $ref: "#/components/schemas/RentYieldDto"
        band_method:
          type: string
        calibration_note:
          type: string
        data_freshness:
          type: string
          format: date-time
        avm_version:
          type: string
        reasoning_log:
          type: object

