openapi: 3.1.0
info:
  title: iFragment API
  description: Telegram username analytics, premium reports, bot management, profile and marketplace APIs.
  version: 1.1.0
servers:
  - url: https://api.ifragment.com/api/v1
    description: Production server
  - url: http://localhost:8080/api/v1
    description: Local development server
tags:
  - name: Health
  - name: Auth
  - name: Usernames
  - name: Premium Reports
  - name: Profile
  - name: Gifts
  - name: Numbers
  - name: Intel Credits
  - name: Marketplace
paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
  /auth/token:
    post:
      tags: [Auth]
      summary: Issue JWT from Telegram init data
      security:
        - TelegramInitData: []
      responses:
        "200":
          description: JWT response
        "401":
          description: Invalid Telegram init data
  /collection/stats:
    get:
      tags: [Usernames]
      summary: Get Telegram username collection statistics (Legacy route)
      responses:
        "200":
          description: Collection summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionSummary"
  /usernames/collection/stats:
    get:
      tags: [Usernames]
      summary: Get Telegram username collection statistics and Market Pulse
      responses:
        "200":
          description: Verified collection analytics and Market Pulse
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionSummary"
  /usernames/collection/history:
    get:
      tags: [Usernames]
      summary: Get historical floor price and volume chart series for username collection
      parameters:
        - name: timeframe
          in: query
          required: false
          schema:
            type: string
            enum: [24h, 7d, 30d, all]
            default: 30d
      responses:
        "200":
          description: Time-series history points
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeframe: { type: string }
                  points:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp: { type: string }
                        label: { type: string }
                        floor_ton: { type: number }
                        volume_ton: { type: number }
  /usernames/check:
    get:
      tags: [Usernames]
      summary: Check username availability
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: Availability result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsernameStatus"
        "400":
          description: Invalid username format
        "429":
          description: Rate limit exceeded
  /usernames/quick:
    get:
      tags: [Usernames]
      summary: Get free quick username analysis
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: Quick analysis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuickCheck"
  /usernames/quick/stream:
    get:
      tags: [Usernames]
      summary: Stream quick username analysis with Server-Sent Events
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: SSE stream of QuickCheck payloads
          content:
            text/event-stream:
              schema:
                type: string
  /usernames/verify:
    get:
      tags: [Usernames]
      summary: Verify username on-chain authenticity and NFT collection status
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: Verification details
        "400":
          description: Invalid username format
        "404":
          description: Username not found
  /usernames/rates:
    get:
      tags: [Usernames]
      summary: Get TON/USD rate
      responses:
        "200":
          description: Current TON rate
          content:
            application/json:
              schema:
                type: object
                properties:
                  ton_to_usd:
                    type: number
  /usernames/similar:
    get:
      tags: [Usernames]
      summary: Get similar username candidates
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 10
      responses:
        "200":
          description: Similar usernames ranked by string and market-category similarity
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimilarUsername"
  /usernames/calibration:
    get:
      tags: [Usernames]
      summary: Get AVM v7.0 empirical calibration and backtest accuracy metrics
      responses:
        "200":
          description: AVM Calibration Summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelCalibrationSummary"
  /usernames/valuate:
    get:
      tags: [Usernames]
      summary: Execute AVM v7.0 algorithmic valuation for a Telegram username
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: Algorithmic Valuation Result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValuationResultV7"
        "400":
          description: Invalid username format
        "429":
          description: Rate limit exceeded
        "500":
          description: Valuation pipeline failed
  /usernames/valuation-access:
    get:
      tags: [Usernames]
      summary: Check if user has unlocked the full valuation report for a username
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UsernameQuery"
      responses:
        "200":
          description: Access status
  /usernames/valuation-order-status:
    get:
      tags: [Usernames]
      summary: Check status of a valuation report purchase order
      security:
        - BearerAuth: []
      parameters:
        - name: order_id
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Order status
  /usernames/valuation-pay-airdrop:
    post:
      tags: [Usernames]
      summary: Unlock username valuation report using Airdrop coins
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username: { type: string }
      responses:
        "200":
          description: Unlock result
        "400":
          description: Insufficient coin balance
  /usernames/valuation-pay-stars:
    post:
      tags: [Usernames]
      summary: Create Telegram Stars invoice for username valuation report
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username: { type: string }
      responses:
        "200":
          description: Invoice link
  /usernames/valuation-verify-free:
    post:
      tags: [Usernames]
      summary: Verify free eligibility or promotional unlock for username valuation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username: { type: string }
      responses:
        "200":
          description: Unlock result
  /usernames/valuation-monitor:
    post:
      tags: [Usernames]
      summary: Add username to live valuation monitor and price alert watchlist
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username: { type: string }
      responses:
        "200":
          description: Monitor status
  /usernames/send-to-chat:
    post:
      tags: [Usernames]
      summary: Send valuation report preview to user's Telegram chat
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username: { type: string }
      responses:
        "200":
          description: Delivery status
  /usernames/share:
    post:
      tags: [Usernames]
      summary: Share username valuation report
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Share link and preview generated
  /orders/{id}/status:
    get:
      tags: [Usernames]
      summary: Get order status by ID
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order status details
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Order not found
  /orders/by-payload/{payload}/status:
    get:
      tags: [Usernames]
      summary: Get order status by invoice payload
      security:
        - BearerAuth: []
      parameters:
        - name: payload
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order status details
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Order not found
  /profile/stats:
    get:
      tags: [Profile]
      summary: Get profile stats
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Profile stats
  /profile/achievements:
    get:
      tags: [Profile]
      summary: Get user achievements
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Achievement list
  /profile/achievements/defs:
    get:
      tags: [Profile]
      summary: Get achievement definitions
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Achievement definitions
  /profile/referral:
    get:
      tags: [Profile]
      summary: Get referral data
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Referral data
  /profile/ledger:
    get:
      tags: [Profile]
      summary: Get unified financial ledger transactions
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: [all, coins, credits, stars, subscription]
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Ledger response
  /profile/assets:
    get:
      tags: [Profile]
      summary: Get user assets (Reports, Properties, Projects, Boosters)
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Assets response
  /profile/emoji-status/claim-reward:
    post:
      tags: [Profile]
      summary: Claim one-time verified reward for setting emoji status
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Claim result
  /marketplace/options:
    get:
      tags: [Marketplace]
      summary: Get purchase options
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Purchase options
  /marketplace/buy-stars:
    post:
      tags: [Marketplace]
      summary: Buy stars on the marketplace
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Purchase result
  /marketplace/convert:
    post:
      tags: [Marketplace]
      summary: Convert airdrop coins to stars or credits
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Conversion result
  /healthz/live:
    get:
      tags: [Health]
      summary: Liveness health check
      responses:
        "200":
          description: Service is alive
  /healthz/ready:
    get:
      tags: [Health]
      summary: Readiness health check
      responses:
        "200":
          description: Service is ready
        "503":
          description: Service is not ready
  /profile/gdpr:
    delete:
      tags: [Profile]
      summary: GDPR Data Deletion Request
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Data successfully wiped
  /intel/credits:
    get:
      tags: [Intel Credits]
      summary: Get shared intel credits balance
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User credit balances
  /intel/credits/history:
    get:
      tags: [Intel Credits]
      summary: Get credit ledger transaction history
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Credit transaction history
  /intel/credits/purchase-stars:
    post:
      tags: [Intel Credits]
      summary: Purchase intel credits via Telegram Stars
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Telegram Stars invoice link
  /gifts/arbitrage:
    get:
      tags: [Gifts]
      summary: Get cross-market gift arbitrage radar
      responses:
        "200":
          description: List of cross-market arbitrage opportunities
  /gifts/whales:
    get:
      tags: [Gifts]
      summary: Get top gift whale wallets and classifications
      responses:
        "200":
          description: Whale leaderboard profiles
  /gifts/intel:
    get:
      tags: [Gifts]
      summary: Get macro market intelligence overview for Telegram Gifts
      responses:
        "200":
          description: Market intelligence data with unified floor board, macro history time series, fear & greed index, and trending gifts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GiftsIntelDto"
  /gifts/collections:
    get:
      tags: [Gifts]
      summary: List all cataloged gift collections
      responses:
        "200":
          description: List of official collections with floor and supply
  /gifts/collection-intel:
    get:
      tags: [Gifts]
      summary: Deep collection intelligence (models, backdrops, verified venue floors, rarity heatmap, sales history)
      parameters:
        - name: c
          in: query
          required: false
          schema:
            type: string
            default: plush_pepe
          description: Collection slug
      responses:
        "200":
          description: Collection intelligence response
  /gifts/gate:
    get:
      tags: [Gifts]
      summary: Curiosity Gate pre-paywall teaser (zero valuation leakage)
      parameters:
        - name: g
          in: query
          required: true
          schema:
            type: string
          description: Gift identifier (e.g. plush_pepe-1)
      responses:
        "200":
          description: Teaser data
  /gifts/upgrade-advice:
    get:
      tags: [Gifts]
      summary: Dutch auction upgrade timing advisor with deterministic price ladder
      parameters:
        - name: g
          in: query
          required: true
          schema:
            type: string
          description: Gift identifier
      responses:
        "200":
          description: Upgrade timing advice
  /gifts/portfolio:
    get:
      tags: [Gifts]
      summary: Scan user gift inventory (rate-limited per caller)
      parameters:
        - name: u
          in: query
          required: true
          schema:
            type: string
          description: Target Telegram username
      responses:
        "200":
          description: Portfolio scan breakdown
        "429":
          description: Rate limited (10 minutes per caller)
  /gifts/crafting-ev:
    post:
      tags: [Gifts]
      summary: Monte Carlo expected value simulation for crafting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                inputs:
                  type: array
                  items:
                    type: object
                    properties:
                      gift_id: { type: string }
                      model_id: { type: string }
                      name: { type: string }
                      serial_number: { type: integer }
                      estimated_value_gram: { type: number }
      responses:
        "200":
          description: Monte Carlo simulation result
        "400":
          description: Input validation error (e.g. cross-collection crafting)
  /gifts/image/{slug}:
    get:
      tags: [Gifts]
      summary: Stream gift model image from CDN with local caching
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: model
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: PNG image binary
  /gifts/valuate:
    get:
      tags: [Gifts]
      summary: Execute Gift Valuation Engine computation
      parameters:
        - name: g
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Valuation report
  /gifts/enriched-report:
    get:
      tags: [Gifts]
      summary: Access enriched gift valuation report with provenance and on-chain metadata (Requires purchase)
      security:
        - BearerAuth: []
      parameters:
        - name: g
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Enriched valuation report
        "401":
          description: Unauthorized
        "402":
          description: Payment Required (report must be unlocked)
  /gifts/unlock-coins:
    post:
      tags: [Gifts]
      summary: Unlock gift report using 15,000 Airdrop coins
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gift_id]
              properties:
                gift_id: { type: string }
      responses:
        "200":
          description: Unlocked valuation report
        "400":
          description: Insufficient coins
  /gifts/unlock-credit:
    post:
      tags: [Gifts]
      summary: Unlock gift report using 1 Intel Credit
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gift_id]
              properties:
                gift_id: { type: string }
      responses:
        "200":
          description: Unlocked valuation report
        "400":
          description: Insufficient credits
  /gifts/watchlist:
    get:
      tags: [Gifts]
      summary: Get user watched gifts
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of watched gifts
    post:
      tags: [Gifts]
      summary: Toggle watchlist status for a gift
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gift_id, enable]
              properties:
                gift_id: { type: string }
                enable: { type: boolean }
      responses:
        "200":
          description: Watchlist updated
        "403":
          description: Report must be unlocked before watching
  /numbers/list:
    get:
      tags: [Numbers]
      summary: Get paginated anonymous numbers table with filter parameters
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: sale_type
          in: query
          schema: { type: string, enum: ["", "auction", "for_sale", "not_for_sale"] }
        - name: number_type
          in: query
          schema: { type: string, enum: ["", "banned", "not_banned"] }
        - name: owners_history
          in: query
          schema: { type: string, enum: ["", "1", "2-3", "4+"] }
        - name: nft_color
          in: query
          description: Hex color code (e.g. 8D66E3)
          schema: { type: string }
        - name: nft_colors
          in: query
          description: Alias for nft_color
          schema: { type: string }
        - name: mask
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Numbers list response
  /numbers/verify:
    get:
      tags: [Numbers]
      summary: Verify if an anonymous number is minted within the 136,566 Telegram collection
      parameters:
        - name: n
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Verification details
  /numbers/intel:
    get:
      tags: [Numbers]
      summary: Anonymous Numbers collection intelligence and metrics
      responses:
        "200":
          description: Intelligence metrics
  /numbers/collection-overview:
    get:
      tags: [Numbers]
      summary: Institutional collection overview with live metrics, depth, pulse, and risk flags
      responses:
        "200":
          description: Collection overview response
  /numbers/collection-history:
    get:
      tags: [Numbers]
      summary: Schema V2 historical time-series OHLCV and volume with explicit timestamps
      parameters:
        - name: timeframe
          in: query
          schema: { type: string, enum: ["24h", "7d", "30d", "90d", "all"], default: "30d" }
      responses:
        "200":
          description: Historical time-series data
  /numbers/collection-listings:
    get:
      tags: [Numbers]
      summary: Verified live listings and active auctions from Fragment & Getgems
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: venue
          in: query
          schema: { type: string, enum: ["all", "fragment", "getgems"], default: "all" }
        - name: type
          in: query
          schema: { type: string, enum: ["all", "ask", "auction"], default: "all" }
      responses:
        "200":
          description: Live listings feed
  /numbers/patterns:
    get:
      tags: [Numbers]
      summary: Deterministic pattern classes, exact supplies, floor prices, and premiums
      responses:
        "200":
          description: Pattern analytics list
  /numbers/colors:
    get:
      tags: [Numbers]
      summary: Canonical list of the 20 official Telegram Anonymous Number colors
      responses:
        "200":
          description: Official NFT colors
  /numbers/export:
    get:
      tags: [Numbers]
      summary: Export verifiable snapshot of collection metrics or listings in CSV/JSON
      parameters:
        - name: format
          in: query
          schema: { type: string, enum: ["csv", "json"], default: "csv" }
        - name: type
          in: query
          schema: { type: string, enum: ["overview", "listings", "patterns"], default: "overview" }
      responses:
        "200":
          description: Exported data file
  /numbers/chart-data:
    get:
      tags: [Numbers]
      summary: Historical sales and floor price OHLC chart data
      responses:
        "200":
          description: Chart data response
  /numbers/gate:
    get:
      tags: [Numbers]
      summary: Pre-paywall curiosity gate analysis for an anonymous number
      parameters:
        - name: n
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Curiosity gate summary
  /numbers/mask:
    get:
      tags: [Numbers]
      summary: Search anonymous numbers matching wildcard mask pattern
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 30 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: List of matching numbers
  /numbers/deals:
    get:
      tags: [Numbers]
      summary: Top undervalued arbitrage deals
      responses:
        "200":
          description: Undervalued deals list
  /numbers/clubs:
    get:
      tags: [Numbers]
      summary: Curated collectible clubs and floor prices
      responses:
        "200":
          description: Category clubs list
  /numbers/portfolio:
    get:
      tags: [Numbers]
      summary: Scan wallet for anonymous numbers and calculate net worth
      parameters:
        - name: address
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Portfolio scan result
        "429":
          description: Rate limit exceeded (strict limit 15 req/min)
  /numbers/activity:
    get:
      tags: [Numbers]
      summary: Live on-chain sales stream ticker
      responses:
        "200":
          description: Recent sales activity list
  /numbers/valuate:
    get:
      tags: [Numbers]
      summary: Quantitative hedonic valuation report
      parameters:
        - name: n
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Valuation report
        "401":
          description: Unauthorized - authentication required
        "403":
          description: Forbidden - report must be unlocked with coins or paid credits
  /numbers/unlock-coins:
    post:
      tags: [Numbers]
      summary: Unlock valuation report using Airdrop Coins
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [number]
              properties:
                number: { type: string }
      responses:
        "200":
          description: Unlocked valuation report
  /numbers/unlock-credit:
    post:
      tags: [Numbers]
      summary: Unlock valuation report using Paid Credits
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [number]
              properties:
                number: { type: string }
      responses:
        "200":
          description: Unlocked valuation report
  /numbers/watchlist:
    get:
      tags: [Numbers]
      summary: Get user watchlisted numbers
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Watchlisted numbers list
    post:
      tags: [Numbers]
      summary: Add or remove number from user watchlist
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [number]
              properties:
                number: { type: string }
      responses:
        "200":
          description: Toggle result
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    TelegramInitData:
      type: apiKey
      in: header
      name: X-Telegram-Init-Data
  parameters:
    UsernameQuery:
      name: u
      in: query
      required: true
      schema:
        type: string
        minLength: 4
        maxLength: 32
        pattern: "^[A-Za-z][A-Za-z0-9_]{3,31}$"
      description: Telegram username without @
  schemas:
    UsernameStatus:
      type: object
      properties:
        username:
          type: string
        status:
          type: string
          enum: [available, purchase_available, on_auction, on_sale, owned, reserved, collectible_not_listed, source_unavailable, unknown, taken, invalid]
    QuickCheck:
      type: object
      properties:
        username:
          type: string
        status:
          type: string
        length:
          type: integer
        rarity_score:
          type: integer
        sale_status:
          type: string
        buy_now_price:
          type: number
        highest_bid:
          type: number
        fragment_url:
          type: string
        search_popularity:
          type: integer
        linguistic_score:
          type: number
    SimilarUsername:
      type: object
      properties:
        username:
          type: string
        score:
          type: number
          minimum: 0
          maximum: 1
        reason:
          type: string
        rarity_score:
          type: integer
        fragment_url:
          type: string
    CollectionSummary:
      type: object
      properties:
        collection_address:
          type: string
        stats:
          type: object
          properties:
            stat_date: { type: string }
            items_count: { type: string }
            owners_count: { type: string }
            floor_price: { type: string }
            total_volume: { type: string }
            source: { type: string }
            is_stale: { type: boolean }
        market_pulse:
          type: object
          properties:
            demand: { type: object }
            supply_pressure: { type: object }
            liquidity: { type: object }
            price_momentum: { type: object }
        categories:
          type: array
          items:
            type: object
        auctions:
          type: array
          items:
            type: object
        top_sales:
          type: array
          items:
            type: object
        recent_activity:
          type: array
          items:
            type: object
        fx:
          type: object
          properties:
            ton_usd: { type: number }
            source: { type: string }
            observed_at: { type: string }
            is_stale: { type: boolean }
        sources:
          type: array
          items:
            type: object
    ModelCalibrationSummary:
      type: object
      properties:
        model_version:
          type: string
        sample_size:
          type: integer
        median_error_pct:
          type: number
        within_band_pct:
          type: number
        uncertainty_mult:
          type: number
        calibration_note:
          type: string
        evaluated_at:
          type: string
          format: date-time
    RentYieldDto:
      type: object
      properties:
        monthly_median_ton:
          type: number
        cap_months:
          type: number
        rent_floor_ton:
          type: number
        source:
          type: string
    HomoglyphTwinDto:
      type: object
      properties:
        twin:
          type: string
        status:
          type: string
        price_ton:
          type: number
        risk_level:
          type: string
        similarity:
          type: string
    ValuationResultV7:
      type: object
      properties:
        run_id:
          type: integer
        username:
          type: string
        model_version:
          type: string
        base_price_ton:
          type: string
        low_ton:
          type: string
        expected_ton:
          type: string
        high_ton:
          type: string
        low_usd:
          type: string
        expected_usd:
          type: string
        high_usd:
          type: string
        confidence_score:
          type: integer
        ton_usd_rate:
          type: number
        comparable_sales_count:
          type: integer
        homoglyph_twins:
          type: array
          items:
            $ref: "#/components/schemas/HomoglyphTwinDto"
        rent_yield:
          $ref: "#/components/schemas/RentYieldDto"
        band_method:
          type: string
        calibration_note:
          type: string
        data_freshness:
          type: string
          format: date-time
        avm_version:
          type: string
        reasoning_log:
          type: object
    MacroHistoryPointDto:
      type: object
      properties:
        timestamp:
          type: string
        mcap_usd:
          type: number
        mcap_gram:
          type: number
        volume_usd:
          type: number
        volume_gram:
          type: number
    GiftsIntelDto:
      type: object
      properties:
        total_cumulative_volume_usd:
          type: number
        total_cumulative_volume_gram:
          type: number
        total_market_cap_usd:
          type: number
        total_market_cap_gram:
          type: number
        ton_usd_rate:
          type: number
        total_active_wallets:
          type: integer
        total_gifts_minted:
          type: integer
        fng_index:
          type: integer
        fng_label:
          type: string
        macro_stats:
          type: object
          properties:
            total_unique_models: { type: integer }
            total_patterns: { type: integer }
            total_backdrops: { type: integer }
            upgradable_gifts: { type: integer }
        data_status:
          type: string
          enum: [live, estimated, delayed, stale, unavailable]
        macro_history:
          type: array
          items:
            $ref: "#/components/schemas/MacroHistoryPointDto"
        data_source_attribution:
          type: string
        updated_at:
          type: string
          format: date-time


